/* General */

* {
    box-sizing: border-box;
}

/* FONTS */


/* BASE */

body {
    margin: 0 auto;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; */
}

button:hover, .img:hover, img.control:hover {
    cursor: pointer;  
}
    

/* LAYOUT */

nav {
    background-color: lightsalmon;
    height: 100px;
    /* display: inline; */
}

img.logo {
    width: 300px;
}

.gallery-container {
    height: auto;
    background-color: lightseagreen;
    display: block;
}

.memes-container {
    height: 700px;
    background-color: lightskyblue;
    display: none;
}


/* Grid IMG container */

.search-container {
    background-color: burlywood;
    padding: 20px;
    margin-bottom: 20px;
}

.img {
    width: 200px;
}

.grid-container {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: repeat( auto-fit, minmax(200px, 200px) );;
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
}

/* CANVAS */

/* .canvas-container {
    display: inline;
    flex-direction: column;
} */

canvas {
    background-color: burlywood;
    margin: 20px;
    height: 200px; 
    width: 200px;
    border: 1px solid black;
}

/* CONTROL BOX */

.control-box-container{
    display: flex;
}

.control-box {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(5, 30px);
    text-align: center;
    gap: 8px;
}

img.control {
    height: 30px;
    width: 30px;
    padding: 5px;
    background-image: linear-gradient(rgb(215, 232, 237), rgb(165, 174, 177)); 
    border: 1px solid black;
    border-radius: 5px;

}

input.input {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

img.up-down-arrows {
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
}
img.add-line {
    grid-column: 3 / 4;
    grid-row: 2 / 3; 
}
img.delete-line {
    grid-column: 4 / 5;
    grid-row: 2 / 3; 
}
img.increase-font {
    grid-column: 1 / 2;
    grid-row: 3 / 4; 
}
img.decrease-font {
    grid-column: 2 / 3;
    grid-row: 3 / 4; 
}
img.align-left {
    grid-column: 3 / 4;
    grid-row: 3 / 4; 
}
img.align-right {
    grid-column: 5 / 6;
    grid-row: 3 / 4; 
}
img.align-center {
    grid-column: 4 / 5;
    grid-row: 3 / 4; 
}
img.txt-stroke {
    grid-column: 4 / 5;
    grid-row: 4 / 5; 
}
img.txt-color {
    grid-column: 5 / 6;
    grid-row: 4 / 5; 
}


